.git
.gitignore
.env
.venv
venv
ENV
__pycache__
*.pyc
*.pyo
*.pyd
.db.sqlite3
db.sqlite3
.DS_Store
.idea
.vscode
*.log
media/
staticfiles/
node_modules/
.github/
README.md
API_DOCS.md
PyAnalypt_Developer_Guidebook.md
